nextflow.enable.dsl=2

    
//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "quay.io/ummsbiocore/dancemapper:1.0.1"
}
//* autofill

params.name = "" //* @input @optional @description:"Specify a name for the outputs" @label:"Name"
params.profile = "" //* @input @file @description:"profile.txt files from ShapeMapper output" @label:"Profile file"
params.modified_mut = "" //* @input @file @description:"modified.parsed.mut files from ShapeMapper output" @label:"Modified .mut"
params.untreated_mut = "" //* @input @optional @file @description:"untreated.parsed.mut files from ShapeMapper output" @label:"Untreated .mut"